* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

.section {
  width: 100vw; /* 100% == 100vw vieport width */
  max-width: 100%; /* hack for 100vw */

  min-height: 100vh; /* VH = viewport height */
  padding-top: 50px;
}

.section-about {
  background-color: white;
  min-height: 20vh;
}

.header {
  background-color: rgb(0, 0, 155);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-family: "Mulish", sans-serif;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .wrapper,
.section .wrapper {
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;

  width: 25%;
  /* height: 60px; */
}

.logo img {
  height: 60px;
}

.menu {
  width: 75%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  width: 100%;
}

.people {
  font-family: "Noto Sans", sans-serif;
}

.menu a {
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0 8px;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.menu a:hover {
  background-color: white;
  color: black;
  font-family: "Noto Sans", sans-serif;
}

.main-3 {
  font-family: verdana;
  color: rgb(0, 0, 155);
  font-size: 50px;
}

.about-column {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.column-photo {
  width: 40%;
  display: flex;
  align-items: center;
}
.photo {
  max-width: 100%;
}

.column-text-1 {
  inline-size: 528px;
  overflow-wrap: break-word;
  font-family: "Mulish", sans-serif;
  align-items: flex-end;
  color: rgb(0, 0, 155);
  font-size: 60px;
  /*text-shadow: 2px 2px 5px rgb(255, 0, 0);*/
}
.column-text-2 {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.column-meme {
  max-width: 65%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery .gallery-row {
  display: flex;
  flex-basis: 100%;
  gap: 10px;
}

.gallery .gallery-item {
  flex-grow: 1;
}

.gallery .gallery-item img {
  width: 100%;
  display: block;
}

.about__col__left {
  width: 50%;

  display: flex;
  align-items: center;
}
.about__col__left_wrapper {
  padding: 20px;
}
.column-left {
  width: 40%;
}

.about__col__right {
  width: 50%;
  display: flex;
  align-items: center;
}
.about__col__right_gallery_item {
  padding-left: 40px;
}
.about__col__right_gallery_item img {
  max-width: 100%;
}
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.gallery-item img {
  max-width: 100%;
}

/* .eqheight .gallery-item img {
  width: auto;
  height: 100%;
} */

.about {
  font-family: "Noto Sans", sans-serif;
  color: black;
}
.main a {
  font-family: "Mulish", sans-serif;
  font-size: 25pt;
  color: rgb(0, 0, 155);
}
.main-2 {
  color: rgb(0, 0, 155);
  font-family: "Mulish", sans-serif;
}

.section-contacts {
  display: flex;
  min-height: 25vh;
}
/*
.section-contacts .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
} */

.contacts-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contacts-item {
  flex-basis: 10%;
}

.contacts-item img {
  width: 100%;
}

.section section-mem {
  padding: -10;
}

.main {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.main-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.main-me-text {
  inline-size: 500px;
  overflow-wrap: break-word;
  font-family: "Mulish", sans-serif;
  align-items: flex-start;
  color: rgb(0, 0, 155);
  font-size: 80px;
}

.main-photo {
  width: 50%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
